html,
body {
  direction: rtl;
  text-align: right;
}

.header .navbar-brand img {
  margin-right: 0;
  object-position: right;
}
.header {
  right: 0;
}
.banner-btn:hover .arrow-btn {
  margin-right: 10px;
}
.banner .slick-dots {
  top: 50%;
  left: 20px;
  right: auto;
  bottom: auto;
}
.feuture li.nav-item .nav-link.active:before {
  right: 0;
}
.future-info{
  right: 100px;
}
.box-number h3,
.box-number h3 span {
  text-align: right;
}
.box-number p {
  text-align: right;
}
.team-content {
  padding-right: 40px;
}
.team-title {
  bottom: 20%;
  right: -55px;
  transform: rotate(90deg);
}
.team-join .team-title {
  bottom: 8px;
  right: 23px;
  transform: rotate(90deg);
  transform-origin: right;
}
.team-slider .slick-dots {
  text-align: right;
  padding-right: 30px;
}
.footer-logo img {
  object-position: right;
}
.apply-btn {
  left: 0px;
}
.apply-btn::before {
  left: 0;
  transform: scaleY(-1.6) scaleX(-1);
}
.arrow-btn i {
  transform: scaleX(-1);
}
.nav-item .dropdown-toggle::after {
  margin-right: 0.255em;
}
.banner-text-info {
  right: 0;
  left: auto;
  text-align: right;
}
.banner-image:before {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.21) 100%
  );
}
.banner-content h1{
    margin-left: auto;
}
.banner-content p{
    margin-left: auto;
}
.banner-btn {
    display: flex;
    align-items: center;
    
}